.sticky{
    position: sticky !important;
    position: -webkit-sticky !important;
    top: -130px;
    background-color: #ffffff;
    padding: 0 !important;
}
.no-padding{
    padding:0!important;
}

.horizontal-padding{
    padding:0 2rem !important;
}
